<p> Growing up, I always loved to program. It wasn't until later that I learned that problem solving is my true passion. This realization led to my double major in computer science and math, two fields that allow for my favorite hobby and passion to become my career. I love to learn, and one of my favorite things about computer science and technology is how rapidly it changes. There's always a new aspect to explore or implement.
</p>

<p>Some of my greatest accomplishments include winning an innovation contest at General Electric, developing a new STEM section of a freshman outreach program at my university, winning the Outstanding Student Award at NASA, and beginning work at Google.
</p>
<p>My love of learning extends to teaching, and my future goals ultimately include a PH.D. in computer science and teaching at the university level.
</p>
