<div class='connect-icon'>
    <a href='https://www.linkedin.com/in/sam-jentsch/'><i class="fab fa-linkedin-in"></i></a>
</div>
<div class='connect-icon'>
    <a href='https://github.com/samclayj'><i class="fab fa-github"></i></a>
</div>
<div class='connect-icon'>
    <a href='https://www.instagram.com/samclayj/'><i class="fab fa-instagram"></i></a>
</div>
<div class='connect-icon'>
    <a href='{{ url_for('static', filename='assets/docs/jentsch_resume.pdf')  }}'><i class="fas fa-file-alt"></i></a>
</div>
