<div class="mt-3 bg-primary scroll-in overflow-hidden">
    <div class="text-center my-3 py-3">
        <h2 class="display-5">Computer Science Courses</h2>
    </div>
    <div class="container my-3 py-3">
      <div class="row">
          <div class ="col">
              <p>CSC 102 - CS Principles</p>
          </div>
          <div class ="col">
              <p>CSC 202 - Programming Principles</p>
          </div>
          <div class="col">
              <p>CSC 211 - Event Driven Programming</p>
          </div>
      </div>
      <div class = "row">
          <div class="col">
              <p>CSC 214 - Computer Architecture</p>
          </div>
          <div class="col">
              <p>CSC 241 - Data Structures</p>
          </div>
          <div class="col">
              <p>CSC 333 - Discrete Structures</p>
          </div>
      </div>
      <div class = "row">
        <div class ="col">
            <p>CSC 323 - Software Engineering</p>
        </div>
        <div class ="col">
            <p>CSC 331 - Object Oriented Programming</p>
        </div>
          <div class="col">
              <p>CSC 342 - Algorithm Analysis</p>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p>CSC 425 - Databases</p>
          </div>
          <div class="col">
              <p>CSC 426 - Requirements Engineering</p>
          </div>
          <div class="col">
              <p>CSC 442 - Organization of Languages</p>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p>CSC 435 - Data Communications</p>
          </div>
          <div class="col">
              <p>CSC 475 - Advanced Database Systems</p>
          </div>
          <div class="col"></div>
      </div>
    </div>
	</div>

	<div class="mt-3 bg-primary scroll-in overflow-hidden">
        <div class="text-center my-3 py-3">
            <h2 class="display-5">Mathematics Courses</h2>
        </div>
        <div class="container my-3 py-3">
          <div class="row">
              <div class="col">
                  <p>MTH 140 - Precalculus</p>
              </div>
              <div class="col">
                  <p>MTH 220 - Probability/Statistics Intro</p>
              </div>
              <div class ="col">
                  <p>MTH 233 - Calculus I</p>
              </div>
          </div>
          <div class = "row">
              <div class="col">
                  <p>MTH 234 - Calculus II</p>
              </div>
              <div class="col">
                  <p>MTH 333 - Calculus III</p>
              </div>
              <div class="col">
                  <p>MTH 359 - Probability Modeling</p>
              </div>
          </div>
          <div class="row">
              <div class ="col">
                  <p>MTH 305 - Numerical Methods</p>
              </div>
              <div class="col">
                  <p>MTH 311 - Modern Mathematics</p>
              </div>
              <div class="col">
                  <p>MTH 360 - Statistical Inference</p>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p>MTH 317 - Linear Algebra</p>
              </div>
              <div class="col">
                  <p>MTH 337 - Differential Equations</p>
              </div>
              <div class="col">
                  <p>MTH 412 - Abstract Algebra</p>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p>MTH 439 - Analysis 1</p>
              </div>
              <div class="col">
                  <p>MTH 440 - Analysis 2</p>
              </div>
              <div class="col">
                  <p>MTH 463 - Seminar</p>
              </div>
          </div>
        </div>
    </div>
