<div class="mt-3 bg-primary scroll-in overflow-hidden">
    <div class="text-center my-3 py-3">
        <h2 class="display-5">Computer Science Courses</h2>
    </div>
    <div class="container my-3 py-3">
      <div class="row">
          <div class ="col">
              <p>CS Principles</p>
          </div>
          <div class ="col">
              <p>Programming Principles</p>
          </div>
          <div class="col">
              <p>Event Driven Programming</p>
          </div>
      </div>
      <div class = "row">
          <div class="col">
              <p>Computer Architecture</p>
          </div>
          <div class="col">
              <p>Data Structures</p>
          </div>
          <div class="col">
              <p>Discrete Structures</p>
          </div>
      </div>
      <div class = "row">
        <div class ="col">
            <p>Software Engineering</p>
        </div>
        <div class ="col">
            <p>Object Oriented Programming</p>
        </div>
          <div class="col">
              <p>Algorithm Analysis</p>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p>Databases</p>
          </div>
          <div class="col">
              <p>Requirements Engineering</p>
          </div>
          <div class="col">
              <p>Organization of Languages</p>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p>Data Communications</p>
          </div>
          <div class="col">
              <p>Advanced Database Systems</p>
          </div>
          <div class="col"></div>
      </div>
    </div>
	</div>

	<div class="mt-3 bg-primary scroll-in overflow-hidden">
        <div class="text-center my-3 py-3">
            <h2 class="display-5">Mathematics Courses</h2>
        </div>
        <div class="container my-3 py-3">
          <div class="row">
              <div class="col">
                  <p>Precalculus</p>
              </div>
              <div class="col">
                  <p>Probability/Statistics Intro</p>
              </div>
              <div class ="col">
                  <p>Calculus I</p>
              </div>
          </div>
          <div class = "row">
              <div class="col">
                  <p>Calculus II</p>
              </div>
              <div class="col">
                  <p>Calculus III</p>
              </div>
              <div class="col">
                  <p>Probability Modeling</p>
              </div>
          </div>
          <div class="row">
              <div class ="col">
                  <p>Numerical Methods</p>
              </div>
              <div class="col">
                  <p>Modern Mathematics</p>
              </div>
              <div class="col">
                  <p>Statistical Inference</p>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p>Linear Algebra</p>
              </div>
              <div class="col">
                  <p>Differential Equations</p>
              </div>
              <div class="col">
                  <p>Abstract Algebra</p>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p>Analysis 1</p>
              </div>
              <div class="col">
                  <p>Analysis 2</p>
              </div>
              <div class="col">
                  <p>Seminar</p>
              </div>
          </div>
        </div>
    </div>
