{% extends 'navigation-base.html' %}

{% block title %}Resume{% endblock %}

{% block card %}
    <!-- Content will be inside the primary card view of the base
         template-->
    <div class="card-box bg-primary text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Work Experience</h2>
        </div>

        <hr>

        <div class="resume-container my-3 py-3">

            <!-- Google -->
            <div class="experience-title">
                <div class="experience-component">
                    Google
                </div>
                <div class="experience-component align-right">
                    July 2017 - Present
                </div>
            </div>

            <div class="experience-subtitle">
                <div class="experience-component">
                    Software Engineer
                </div>
                <div class="experience-component align-right">
                    Mountain View, CA
                </div>
            </div>

            <div class="experience-body">
                <ul>
                    <li>Primary owner of 3 web applications responsible for interacting with a proprietary testing infrastructure. Optimized load times to improve performance by ~50%.</li>
                    <li>Primary owner of a comprehensive service for highly configurable hardware regression testing on fleets of machines.</li>
                    <li>Responsible for gathering requirements from cross functional teams to improve user experience.</li>
                    <li>Wrote design documents for feature and architecture changes to gather design input from team members.</li>
                    <li>Led design and planning efforts spanning 1+ years.</li>
                </ul>
            </div>

            <!-- Forma -->
            <div class="experience-title">
                <div class="experience-component">
                    Forma Technologies
                </div>
                <div class="experience-component align-right">
                    March 2017 - June 2017
                </div>
            </div>

            <div class="experience-subtitle">
                <div class="experience-component">
                    Lead Developer
                </div>
                <div class="experience-component align-right">
                    Plano, TX
                </div>
            </div>

            <div class="experience-body">
                <ul>
                    <li>Lead developer in charge of designing/implementing architecture for a socially driven application.</li>
                    <li>Presented and evaluated choices for data design, security and authentication, and three-tier architecture.</li>
                    <li>Implemented this solution using Angular 4, Node.js, and PostgreSQL.</li>
                    <li>Led a team of 4 through project development and deployment of a MVP.</li>
                </ul>
            </div>

            <!-- NASA -->
            <div class="experience-title">
                <div class="experience-component">
                    NASA
                </div>
                <div class="experience-component align-right">
                    May 2016 - August 2016
                </div>
            </div>

            <div class="experience-subtitle">
                <div class="experience-component">
                    Intern
                </div>
                <div class="experience-component align-right">
                    Houston, TX
                </div>
            </div>

            <div class="experience-body">
                <ul>
                    <li>Developed an AngularJS application for Model Based System Engineering project lifecycle management.</li>
                    <li>Gathered requirements to improve system for coordinating between NASA, Boeing, SpaceX and others.</li>
                    <li>Delivered 11 instead of 2 planned modules, accelerating launch schedule by 2 months.</li>
                    <li>Received <em>Outstanding Student Intern</em> award for significant contributions.</li>
                </ul>
            </div>

            <!-- Stephen F. Austin State University -->
            <div class="experience-title">
                <div class="experience-component">
                    Stephen F. Austin State University
                </div>
                <div class="experience-component align-right">
                    August 2013 - May 2016
                </div>
            </div>

            <div class="experience-subtitle">
                <div class="experience-component">
                    Teacher's Assistant
                </div>
                <div class="experience-component align-right">
                    Nacogdoches, TX
                </div>
            </div>

            <div class="experience-body">
                <ul>
                    <li>Lead Teacher’s Assistant for Data Structures course in charge of grading all homework/projects for 80 students.</li>
                    <li>Lectured course periods and assisted students in learning important concepts.</li>
                    <li>Developed a new section of SFA 101, the freshman success class for assisting and mentoring STEM students.</li>
                </ul>
            </div>

            <!-- GE 2 -->
            <div class="experience-title">
                <div class="experience-component">
                    General Electric
                </div>
                <div class="experience-component align-right">
                    June 2015 - August 2015
                </div>
            </div>

            <div class="experience-subtitle">
                <div class="experience-component">
                    Intern (Infrastructure)
                </div>
                <div class="experience-component align-right">
                    Houston, TX
                </div>
            </div>

            <div class="experience-body">
                <ul>
                    <li>Worked on infrastructure migration project upgrading the company’s Enterprise Resource Planning systems.</li>
                    <li>Developed plans for migration and coordinated 130 application teams through testing and transition phases.</li>
                    <li>Won 1st Place in <em>GE Innovation Contest</em> for creating a factory analytics tool with a Raspberry Pi.</li>
                </ul>
            </div>

            <!-- GE 1 -->
            <div class="experience-title">
                <div class="experience-component">
                    General Electric
                </div>
                <div class="experience-component align-right">
                    June 2014 - August 2014
                </div>
            </div>

            <div class="experience-subtitle">
                <div class="experience-component">
                    Intern (Security)
                </div>
                <div class="experience-component align-right">
                    Houston, TX
                </div>
            </div>

            <div class="experience-body">
                <ul>
                    <li>Worked on on cybersecurity team to evaluate security products, research bad actors, and report on threatscapes.</li>
                    <li>Used threat analysis/mitigation tools to track malware and perform computer forensics.</li>
                    <li>Developed a cyber intelligence portal to consolidate and report interactive/real-time threat information.</li>
                </ul>
            </div>
        </div>
    </div>

   {% include 'resume/awards.html' %}
   {% include 'resume/education.html' %}

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
{% endblock %}
