{% extends 'navigation-base.html' %}

{% block title %}Charts{% endblock %}

{% block card %}
    <!-- Content will be inside the primary card view of the base
         template-->
    <div class="mt-3 scroll-in card-box bg-primary text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Chart</h2>
        </div>

        <hr>

        <div class="container my-3 py-3">
            <canvas id="language-chart3">

            </canvas>
        </div>
    </div>

    <div class="mt-3 scroll-in card-box bg-primary text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Chart</h2>
        </div>

        <hr>

        <div class="container my-3 py-3">
            <canvas id="doughnut">

            </canvas>
        </div>


        <div class="container my-3 py-3">
            <canvas id="doughnut2">

            </canvas>
        </div>
    </div>

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script>

        ChartHelper.registerChart('language-chart3', {
			type: 'horizontalBar',
			data: {
			  labels: ["JavaScript", "HTML/CSS", "Python", "Java", "SQL", "C", "C++", "Objective-C"],
			  datasets: [
				{
				  label: "Programming Language Knowledge",
				  backgroundColor: ChartHelper.randomColors(8),
				  data: [100, 100, 80, 80, 70, 50, 70, 60]
				}
			  ]
			},
			options: {
			  legend: { display: false },
              tooltips: { enabled: false },
			  title: {
				display: true,
				text: 'Programming language proficiency'
			  },
              scales: {
                  xAxes: [{
                      ticks: {
                          beginAtZero: true,
                      },
                  }],
              },
			}
		});

		ChartHelper.registerChart("doughnut", {
			type: 'doughnut',
			data: {
			  labels: ["JavaScript", "HTML/CSS", "Python", "Java", "SQL", "C", "C++", "Objective-C"],
			  datasets: [
				{
				  label: "Programming Language Knowledge",
				  backgroundColor: ChartHelper.randomColors(8),
				  data: [100, 100, 80, 80, 70, 50, 70, 60]
				}
			  ]
			},
			options: {
			  legend: { display: false },
			  title: {
				display: true,
				text: 'Programming language proficiency'
			  },
			}
		});


		ChartHelper.registerChart("doughnut2", {
			type: 'doughnut',
			data: {
			  labels: ["JavaScript", "HTML/CSS", "Python", "Java", "SQL", "C", "C++", "Objective-C"],
			  datasets: [
				{
				  label: "Programming Language Knowledge",
				  backgroundColor: ChartHelper.randomColors(8),
				  data: [100, 100, 80, 80, 70, 50, 70, 60]
				}
			  ]
			},
			options: {
			  legend: { display: false },
			  title: {
				display: true,
				text: 'Programming language proficiency'
			  },
			}
		});
    </script>
{% endblock %}
